@import "../../variables.scss";

@import url('https://fonts.googleapis.com/css?family=Rambla');

.container{
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
.App {
    text-align: center;
    background-color: #222;
    height: 100%;
    &-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 55px;
    }
    h3{
        color: $main;
    }
    
    
    &-header{
        background-color: #222;
        padding-top: 20px;
        color: $main;
        margin-bottom: 20px;
        padding-right: 15px; 
    }

    &-title{
        font-size: 50px;
        display: inline;
        vertical-align: top;
        position: relative;
        top: 0px;
        font-family: 'Rambla', sans-serif;
    }

    &-intro{
        font-size: large;
    }
}



.react-autosuggest__{
    &container{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    &input{
        background-color: #222;
        height: 30px;
        border: 0px;
        width: 265px;
        border-bottom: 1px solid #888;
        color: $main;
        font-size: 20px;
        &:focus{
            outline: none;
        }
        margin-bottom: 0px;
    }

    &suggestions-list{
        list-style: none;
        padding-left: 0px;
        max-width: 265px;
        margin: auto;
        background-color: #111;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border: 1px solid #888;
        border-top: 0px;
        
    }
    &suggestion{
        padding: 5px 0px;
        color: $main;
        
        &--highlighted{
            background-color: $main;
            color: black;
        }

        &:last-child{
        }

    }

}


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
