@import url("https://fonts.googleapis.com/css?family=Rambla");
.container {
  max-width: 600px;
  margin: auto;
  padding: 10px; }

.App {
  text-align: center;
  background-color: #222;
  height: 100%; }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 55px; }
  .App h3 {
    color: #FFFFFF; }
  .App-header {
    background-color: #222;
    padding-top: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-right: 15px; }
  .App-title {
    font-size: 50px;
    display: inline;
    vertical-align: top;
    position: relative;
    top: 0px;
    font-family: 'Rambla', sans-serif; }
  .App-intro {
    font-size: large; }

.react-autosuggest__container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.react-autosuggest__input {
  background-color: #222;
  height: 30px;
  border: 0px;
  width: 265px;
  border-bottom: 1px solid #888;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 0px; }
  .react-autosuggest__input:focus {
    outline: none; }

.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 0px;
  max-width: 265px;
  margin: auto;
  background-color: #111;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 1px solid #888;
  border-top: 0px; }

.react-autosuggest__suggestion {
  padding: 5px 0px;
  color: #FFFFFF; }
  .react-autosuggest__suggestion--highlighted {
    background-color: #FFFFFF;
    color: black; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
