@import "../../variables.scss";

.movie-card{
    padding: 40px 0px;
    margin: auto;
    .description{
        color: $main;
        text-align: left;
        margin: auto;
    }
    .name{
        color: $main;
        h2{
            margin-top: 20px;
            margin-bottom: 7px;
        }
    }
    .poster{
        max-width: 100%;
        margin-top: 20px;
    }
    .movie-info{
        .attribute{
            margin-bottom: 5px;
            p{
                color: $main;
                display: inline;
            }
            .fa-icon{
                color: $highlight;
                margin-right: 5px;
            }
        }
        margin-top: 30px;
        text-align: left;
    }
}