.movie-card {
  padding: 30px 10px 40px;
  max-width: 600px;
  margin: auto; }
  .movie-card .description {
    color: white;
    text-align: left;
    margin: auto; }
  .movie-card .name {
    color: white; }
    .movie-card .name h2 {
      margin-top: 20px;
      margin-bottom: 7px; }
  .movie-card .poster {
    max-width: 100%;
    margin-top: 20px; }
  .movie-card .movie-info {
    margin-top: 30px;
    text-align: left; }
    .movie-card .movie-info .attribute {
      margin-bottom: 5px; }
      .movie-card .movie-info .attribute p {
        color: white;
        display: inline; }
      .movie-card .movie-info .attribute .fa-icon {
        color: #00D8FE;
        margin-right: 5px; }
